<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="home" class="container justify-content-center mt-3 mb-3">
    <div class="container-sm" style="background-color: white">
        <div class="container text-center p-3">
            <div class="row">
                <div class="col">
                    <img th:src="@{/images/home-img.jpg}" class="float-start" alt="home-img" width="702" height="432">
                </div>
                <div class="col">
                    Welcome to our online fruit store! We offer fresh and delicious fruits that will bring joy and health to your life.
                    We take pride in presenting you with a wide selection of top-quality fruits sourced directly from the farms.
                    Our fruits are all about taste and uncompromised quality. Order fresh fruits today and have them delivered right to your doorstep.
                    Happy shopping!
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>