<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="contacts" class="container justify-content-center mt-3 mb-3">
    <div class="container-sm" style="background-color: white">
        <div class="container text-center p-3">
            <div class="row">
                <div class="col">
                    <div>
                        <iframe th:src="@{https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1218.1173767622718!2d4.909149440844725!3d52.36616320855341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c609a27fa26627%3A0xf500bb675cbdfe40!2zUGxhbnRhZ2UgS2Vya2xhYW4gMTVIUywgMTAxOCBTWiBBbXN0ZXJkYW0sINCd0LjQtNC10YDQu9Cw0L3QtNGL!5e0!3m2!1sru!2sua!4v1696850591870!5m2!1sru!2sua}" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col">
                    <p class="text-start" style="font-size: 18px">
                        Address: Rainbow St. 12, MainCity, 00125<br>
                        <i class="bi bi-telephone-fill"></i> Phone: +011 555 123-4587<br>
                        <i class="bi bi-envelope"></i> E-mail: fruitshop@mail.com<br>
                        FRUIT SHOP, LLC
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>