<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav id="menu" th:fragment="menu" class="navbar navbar-expand-lg" style="background-color: #c28544;">
    <div  class="container-fluid">
        <span class="navbar-brand mb-0 h1 text-white">FRUIT SHOP</span>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link text-white" th:href="@{./}">Home</a>
                <a class="nav-link text-white" th:href="@{./citrus-fruits}">Citrus fruits</a>
                <a class="nav-link text-white" th:href="@{./rosy-fruits}">Rosy Fruits</a>
                <a class="nav-link text-white" th:href="@{./stone-fruits}">Stone fruits</a>
                <a class="nav-link text-white" th:href="@{./contacts}">Contacts</a>
            </div>
        </div>
        <!-- Button trigger Modal Cart-->
        <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#orderModal">
            Make order
        </button>
    </div>
</nav>
</body>
</html>