<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="stone_fruits" class="container justify-content-center mt-3 mb-3">
    <div class="container-sm">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
            <div class="card" th:each="stoneFruit:${stoneFruits}">
                <img id="imgee" th:src="@{${stoneFruit.img}}" class="card-img-top p-1 m-1" alt="stone-fruit-img">
                <div class="card-body">
                    <p>
                        <span id="idee" class="card-text visually-hidden" th:text="${stoneFruit.id}"></span><br>
                        <span id="namee" class="card-text fw-bold" th:text="${stoneFruit.name}"></span><br>
                        <span class="fw-lighter" style="font-size: 12px;">art. </span>
                        <span id="articlee" class="fw-lighter" style="font-size: 12px;" th:text="${stoneFruit.article}"></span><br>
                        <span id="descript" class="card-text" th:text="${stoneFruit.descr}"></span><br>
                        <span>&#8364; </span> <!-- <- HTML EUR--->
                        <span id="pricee" class="card-text" th:text="${stoneFruit.price}"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>